@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="0325445700">P:</abbr>
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">manh56348912@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Manhsm2004@gmail.com</a>
    </address>
</main>
<a href="~/Views/_ViewStart.cshtml">~/Views/_ViewStart.cshtml</a>